{% assign favicon_url = site.baseurl | append: '/assets/favicons/' | append: site.carpentry | prepend: site.url %}

{% if site.carpentry == 'swc' %}
{% assign carpentry = 'Software Carpentry' %}
{% elsif site.carpentry == 'dc' %}
{% assign carpentry = 'Data Carpentry' %}
{% elsif site.carpentry == 'lc' %}
{% assign carpentry = 'Library Carpentry' %}
{% elsif site.carpentry == 'cp' %}
{% assign carpentry = 'The Carpentries' %}
{% elsif site.carpentry == 'molssi' %}
{% assign carpentry = 'The Molecular Sciences Software Institute' %}
{% endif %}

    <!-- Favicons for everyone -->
    <link rel="icon" type="image/png" href="{{ favicon_url }}/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="{{ favicon_url }}/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="{{ favicon_url }}/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="{{ favicon_url }}/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="{{ favicon_url }}/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="{{ carpentry }} - {{ site.title }}"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />