{% comment %}
  General description of The Molecular Sciences Software Institute.
{% endcomment %}
<div class="row">
  <div class="col-md-2" align="center">
    <a href="https://molssi.org/"><img src="{{ page.root }}/assets/img/molssi_main_logo.png" alt="MolSSI logo" width="100%" /></a>
  </div>
  <div class="col-md-8">    
    Since its launch in 2016, <a href="https://molssi.org/">The Molecular Sciences Software Institute</a>, has served as a nexus for the 
    broad computational molecular sciences community by providing software expertise, community engagement and leadership, and education 
    and training. Through a broad array of software infrastructure projects, teaching workshops, and community outreach, the MolSSI is 
    catalyzing the scientific advances needed to solve emerging scientific computing Grand Challenges.
  </div>
</div>

<div class="row">
  <div class="col-md-10">    
    <p>Education of students, post-docs, and faculty on programming and Best Practices in Software Development is a large part of MolSSI's mission. 
      Our education program consists of our cohorts of <a href="https://molssi.org/molssi-software-fellows/">Software Fellows</a>, 
      <a href="https://molssi-education.github.io/resources.html">online training materials</a>, 
      and <a href="https://molssi-education.github.io/request.html">multiple workshops online or in-person at various locations each year</a>.
    </p>
    <p>MolSSI’s education techniques and practices are modeled after <a href="https://software-carpentry.org/">The Software Carpentries</a> 
      style to teaching novice software best practices. This approach teaches subjects that not only increase a student’s scientific 
      capability and efficiency, but also his/her future marketability in both scientific and non-scientific fields. 
    </p>
  </div>
</div>

